<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h3>Form Employees</h3>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Salary</th>
                    <th>Anual Salary</th>
                    <th>Age</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="Let employee of employeeService.employees">
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>